<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Short Link Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body>
<div class="container block">
    <div class="col-md-8">
        <div class="col text-center">
            <H1>Page not found</H1>
            <span>Either the entered short link is invalid or you just went to the wrong place.</span><br>
            <span>Return on <a href="/">main page</a></span>
        </div>
    </div>
</div>
</body>
</html>